:root{
    --header-color: #A8DADC;
    --primary--blue-color: #1D3557;
    --secondary-blue-color: #457B9D;
    --primary-white-color: #F1FAEE;
    --hover-color: #E63946;
    --reset: 0;
    --font-title: 'Zeyada', cursive;
    --font-sansita: 'Sansita', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

body{
    color: var(--primary-white-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-sansita);
}
h3{
    padding: 2% 0;
    margin: 0;
    text-align: center;
    font-family: var(--font-title);
    font-size: 5em;
    width: 100%;
}
button{
    width: 10em;
    height: 4em;
    font-family: var(--font-montserrat);
    color: #457B9D;
    margin-left: 6%;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    padding-bottom: 1%;
    padding-top: 1%;
}
.navbarBrand{
    margin: 0 5%;
}
.navbarList{
    display: flex;
    list-style: none;
}
.navbar{
    margin: 0 10%;
}
.navItem{
    padding: 0 2%;
}
.navItem a{
    text-decoration: none;
    color: var(--primary--blue-color);
    border-bottom: solid 2px var(--hover-color);
}
.navItem a:hover{
    border-bottom: solid 2px black;
    transition: 200ms;
}

main{
    background-color: var(--primary--blue-color);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo{
    display: flex;
    flex-direction: row;
}

.conteudo__sobre{
    background-color: var(--primary-white-color);
    color: #1D3557;
}

.conteudo__historia{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2%;
}
.conteudo__nossaHistoria{
    color: #457B9D;
}

.conteudo__historia article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.depoimentos{
    background-color: var(--primary-white-color);
    display: flex;
    flex-wrap: wrap;
}
.depoimentos__titulo{
    color: #1D3557;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1%;
    flex-wrap: wrap;
    margin-bottom: 4em;

}
.card{
    background-color: var(--secondary-blue-color);
    padding-top: 3em;
    width: 30%;
}
.card p{
    color: var(--primary-white-color);
    font-size: 1em;
    margin: 1em 2em;
}
.informacoesUsuario{
    display: flex;
    flex-direction: row;
}


.conteudo__menu{
    width: 280%;
    margin-left: 1em;
    padding-bottom: 2%;
}

.conteudo__unidades{
    margin: 2em 3em;
}

.unidades{
    background-color: var(--primary-white-color);
    color: var(--primary--blue-color);
    padding: 5em 0;
}

.conteudo__unidades__img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 300%;
}

.footer{
    background-color: #1D3557;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navItemFooter{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.navbarlistFooter{
    margin: 0;
    padding: 0;
}
.navLinkFooter{
    width: fit-content;
    text-decoration: none;
    color: #F1FAEE;
    border-bottom: solid 2px #F1FAEE;
    font-size: 90%;
}
.navLinkFooter:hover{
    border-bottom: solid 2px #E63946;
    transition: 200ms;
}
.navbarFooter{
    margin-top: 20%;
    margin-bottom: 40%;
}

.menuFooter{
    margin-top: 2%;
}
.contactFooter{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
}
.contactFooter img{
    width: 20%;
    padding: 20% 1% 0 1%;
}
.adressFooter{
    margin-top: 2%;
}
.searchFooter{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
#filterMenuFooter{
    width: 100%;
    margin-top: 9%;
    margin-bottom: 9%;
}
@media screen and (max-width: 800px) {
    .header {
      display: flex;
      flex-direction: column;
    }
    .navbarBrand{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .navbarList{
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
        padding-bottom: 2%;
        padding-left: 0;
    }
    .navItem{
        margin-bottom: 30%;
    }

    .menu{
        align-items: center;
        margin: 0 5%;
    }
    .filterButtons{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }
    .filterButtons input{
        margin-bottom: 10%;
    }
    #filterMenu{
        width: 50%;
    }
    .contentMenu img{
        width: 300px;
        height: auto;
    }
    .titleBlog{
        color: #1D3557;
    }
    .imagesBlog{
        display: flex;
        flex-direction: row ;
    }
    .principal{
        width: 100%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .navbarListFooter{
        display: flex;
        text-align: center;
    }
    #menuFooter{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 4%;
    }
    .navbarFooter{
        margin: 0;
    }
    .navItemFooter{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #filterMenuFooter{
        margin: 0 0 10% 0;
        width: 25%;
    }
    .searchFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactFooter img{
        padding: 0;
        width: 3vh;
        margin: 3vh;
    }
    #filterMenuFooter{
        width: 50%;
    }
    .blog{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagesBlog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }
    .imagesBlog img{
        width: 90vw;
        margin: 2% 0;
    }
  }